html {
    font-family: Ubuntu;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    
    margin: 0;
}
.header {
    position: fixed;
    height: 40px;
    background-color: #fff;
    width: 100%;
}

.nav-bar {
    width: 50%;
}

.nav-bar--list{
    margin: 0;
    padding-left: 0px;
}

.nav-bar--list a li {
    list-style: none;
    margin: 11px 0;
}
.nav-bar--list a {
    display: block;
    height: 40px;
    text-decoration: none;
    color: black;
}
.logo a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
}

#school, #my-class, #teachers-and-lesson {
    width: 100%;
    padding-top: 80px;
    padding: 60px 0;
    background: linear-gradient(45deg, #06054B, #3503BC);
    color: white;
    text-align: center;
}

#school {
    background: #fff;
    color: black;
}

#school h1 {
    font-size: 36px;
}

#school p {
    font-size: 24px;
}

#my-class img {
    margin-bottom: 15px;
    animation: flying  3s infinite ease-in-out;
}

#school img, #my-class img {
    width: 90%;
}

.lessons-list li{
    margin-bottom: 50px;
}

.lessons-list li:last-child{
    justify-content: center;
}

.lessons-list li span {
    width: 350px;
    height: 350px;
}

.lessons-list li img {
    width: 290px;
    height: 290px;
}

@keyframes flying {
    from {
        margin-top: 0;
        margin-bottom: 30px;
    }
    50% {
        margin-top: 30px;
        margin-bottom: 0;
    }
    to {
        margin-top: 0;
        margin-bottom: 30px;
    }
}

.progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: #EB5757;
}

/*Адаптив и плюшки*/

.row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.container {
    padding: 0 15px;
}
  
@media (min-width: 425px){
.container {
    width: 420px;
    margin: auto;
    padding: 0;
}
.nav-bar{
    width: 60%;
}
.header {
    height: 50px;
}
.nav-bar--list li {
    height: 36px;
}
}

@media (min-width: 549px){
    .container {
        width: 540px;
    }
}

@media (min-width: 767.98px){
.container {
    width: 720px;	
}
}

@media (min-width: 991.98px) {
.container {
    width: 960px;
}
}

@media (min-width: 1199.98px){
.container {
    width: 1140px;
}
}
/*Прелоадер*/
.preload {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #06054B, #3503BC);
}
.circle {
    position: absolute;
    top: 45.375%;
    left: 47.4%;
    width: 50px;
    height: 50px;
    border: white solid 6px;
    border-radius:  50% 0 50% 50%;
    animation: rotate 2s infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}